#timeline #ctf_schedule {
    /* min-height: 400px; */
    position: relative;
}

#timeline #ctf_schedule .spinner {
    width: 120px;
    height: 120px;
    padding-top: 120px;
    opacity: 0.7;
}

#timeline #ctf_schedule .schedule {
    position: relative;
    overflow-x: scroll;
    padding-top: 30px;
    border-top: 1px solid #d4d4d4;
    cursor: move;
    height: 100%;
}

#timeline #ctf_schedule .ctf {
    position: absolute;
    box-sizing: border-box;
    padding: 4px 6px;
    background-color: #303E43;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: -webkit-filter 0.13s, filter 0.13s;
    color: #fff;
    text-decoration: none;
}

#timeline #ctf_schedule .timeline {
    position: absolute;
    top: 0;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#timeline #ctf_schedule .ctfline {
    position: relative;
    height: 5em;
}

#timeline #ctf_schedule .timeheader {
    position: absolute;
    display: inline;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    border-left: 1px dashed #bbb;
    padding: 2px 5px;
    font-size: 11px;
}

#timeline #ctf_schedule .timeheader.week {
    font-weight: bold;
    border-left-style: solid;
}

#timeline #ctf_schedule .timeheader.now {
    top: 1.7em;
    height: calc(100% - 1.7em);
    margin-left: 1px;
    border-left: 2px dashed #d85000 !important;
}

#timeline #ctf_schedule .icon {
    float: left;
    font-size: 2.4em;
    margin: -6px 2px 0px 2px;
}

#timeline #ctf_schedule .name {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

#timeline #ctf_schedule .date {
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

#timeline #ctf_schedule .ctf span {
    margin-right: 4px;
}